<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 매퍼 만들때 경로 설정 복붙하지만 말고 검토하자.-->
<mapper namespace="edu.global.ex.mapper.GolfMapper">

    <select id="getTeacherList" resultType="edu.global.ex.vo.GolfVO.TeacherVO">
        <![CDATA[
            SELECT TEACHER_CODE, TEACHER_NAME, CLASS_NAME,
                   TO_CHAR(TBL_TEACHER_202201.CLASS_PRICE,'L999,999') AS CLASS_PRICE,
                           CONCAT(CONCAT(CONCAT(SUBSTR(TEACHER_REGIST_DATE, 1, 4), '년'),
                           CONCAT(SUBSTR(TEACHER_REGIST_DATE, 5, 2), '월')),
                           CONCAT(SUBSTR(TEACHER_REGIST_DATE, 7, 2), '일')) AS TEACHER_REGIST_DATE
                           FROM TBL_TEACHER_202201 ORDER BY TEACHER_CODE
        ]]>
    </select>

    <select id="getMemberList" resultType="edu.global.ex.vo.GolfVO.MemberVO">
        <![CDATA[
            SELECT CONCAT(CONCAT(SUBSTR(REGIST_MONTH, 1, 4), '년'),
              CONCAT(SUBSTR(REGIST_MONTH, 5, 2), '월')) AS REGIST_MONTH, C_NO, C_NAME, CLASS_NAME, CLASS_AREA,
              TO_CHAR(TUITION,'L999,999') AS TUITION, GRADE
              FROM (SELECT REGIST_MONTH, TBL_CLASS_202201.C_NO, C_NAME, CLASS_AREA, TUITION, GRADE,TEACHER_CODE
              FROM TBL_MEMBER_202201, TBL_CLASS_202201
              WHERE TBL_MEMBER_202201.C_NO = TBL_CLASS_202201.C_NO) JTABLE, TBL_TEACHER_202201
              WHERE JTABLE.TEACHER_CODE = TBL_TEACHER_202201.TEACHER_CODE
        ]]>
    </select>

    <select id="getSalesList" resultType="edu.global.ex.vo.GolfVO.SalesVO">
        <![CDATA[
            SELECT TBL_CLASS_202201.TEACHER_CODE, CLASS_NAME, TEACHER_NAME, TO_CHAR(SUM(TUITION),'L999,999') AS TUITION
                           FROM TBL_CLASS_202201, TBL_TEACHER_202201
                           WHERE TBL_CLASS_202201.TEACHER_CODE = TBL_TEACHER_202201.TEACHER_CODE
                           GROUP BY TUITION, TBL_CLASS_202201.TEACHER_CODE, CLASS_NAME, TEACHER_NAME
        ]]>
    </select>

    <select id="getApplyData" resultType="edu.global.ex.vo.GolfVO.ApplyVO">
        <![CDATA[
            SELECT DISTINCT C_NAME, CLASS_AREA
            FROM (SELECT REGIST_MONTH, TBL_CLASS_202201.C_NO, C_NAME, CLASS_AREA, TUITION, GRADE,TEACHER_CODE
            FROM TBL_MEMBER_202201, TBL_CLASS_202201
            WHERE TBL_MEMBER_202201.C_NO = TBL_CLASS_202201.C_NO) JTABLE, TBL_TEACHER_202201
            WHERE JTABLE.TEACHER_CODE = TBL_TEACHER_202201.TEACHER_CODE
        ]]>
    </select>

    <insert id="insert">
        <![CDATA[
            INSERT INTO TBL_CLASS_202201 (REGIST_MONTH, C_NO, CLASS_AREA, TUITION)
            VALUES (#{regist_month},#{c_no},#{class_area},#{tuition})
        ]]>
    </insert>

    <update id="update">
        <![CDATA[
            UPDATE TBL_CLASS_202201 SET TEACHER_CODE =
                    (CASE TUITION
                    WHEN 100000 THEN '100'
                    WHEN 200000 THEN '200'
                    WHEN 150000 THEN '300'
                    WHEN 400000 THEN '400'
                    END) WHERE C_NO = #{c_no}
        ]]>
    </update>

</mapper>